body
{
	color: #555; font: normal 14px Arial,Helvetica,sans-serif;
	background: #fff; 
}


#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 0px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	/* background:white url(bg.gif) repeat-x left top; */
	overflow: hidden;
	font-size: 12px; color: #888;
	background-color: #333;
	color: #fff;
}

#mainmenu ul
{
padding: 0px; margin: 0px; text-align: right;
}

#mainmenu ul li
{
	display: inline-block;
	padding: 10px;
}

#mainmenu ul li span {color: #ccc; margin-left: 20px}

#mainmenu ul li a
{
	color:#fff;
	font-size:12px;
	text-decoration:none;
}

#mainmenu ul li a:hover
{
	text-decoration: underline;
}

 #mainmenu ul li.active a
 {
	color: #6BCAFF;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding-bottom: 20px;
}

div.breadcrumbs span
{
	color: #777;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#LoginForm_username {margin-left: 11px}

input[type="submit"] {background-color: #DC5041; color: #fff; padding: 7px 10px; border: none; cursor: pointer;}
	input[type="submit"]:hover {background-color: #F08A3D}
	input[type="submit"]:active {position: relative; top: 1px}

.level {width: 1024px; margin: 0 auto;}

._fclear:before, ._fclear:after {content: " "; display: table}
._fclear:after {clear: both}
._fclear {zoom: 1}
.fleft {float: left}
.fright {float: right;}
.false {background-color: red; color: #fff; padding: 3px 4px; font-weight: bold;}
.true {background-color: green; color: #fff; padding: 3px 4px; font-weight: bold;}
.none {background-color: #ff8400; color: #fff; padding: 3px 4px; font-weight: bold;}


	body .left {float: left; width: 200px; padding: 10px}
	
	
	body .right {float: right; padding: 10px; width: 750px} 
		body .right .item  {padding: 10px;margin-bottom: 0px}
		body .right .item a {color: #42688f; text-decoration: none}
			body .right .item a:hover {text-decoration: underline}
		body .right .item  .item_info {color: #555; font-size: 12px; margin-bottom: 10px}
		body .right .item a.fright:hover {text-decoration: none}
		body .right .item .block_id {background-color: #6091C3; padding: 5px 10px; font-size: 14px; color: #fff; font-weight: bold}
		body .right .item .edit {float: right; margin-right: 10px;}
			body .right .item .edit a {font-style: italic;}
				body .right .item .edit a:hover {text-decoration: none; color: #71777a}
			body .right .item .block_id a{text-decoration: none;}
			body .right .item .block_id:hover {background-color: #4997E4}
		body .right .item .date_add {margin-left: 10px; font-size: 11px}
		body .right .item .number {float: left; font-size: 18px; }
		body .right .item .date_note {float: left; padding: 5px 0 0 20px; color: #76624d; font-size: 12px}
		body .right .item .note {padding: 10px 0 20px 0; line-height: 1.4em;}
		body .right .item .footer_note {background-color: #F5F9FF; height: 130px}
		.item .lal {float: left; width: 29%; margin: 0 2%; line-height: 1.6em; font-size: 12px; height: 100px; }
		.item  .title {border-bottom: 1px solid #ddd; text-transform: uppercase; font-size: 18px; color: #444; font-weight: bold; margin-bottom: 10px; padding: 15px 0 2px 0 !important;}
		
	body .menu {float: left; margin-left: 630px}
	body .profile {float: left;}
	.profile ul, .profile li { margin:0; padding:0; list-style-type:none;}
	#prof_menu {display:block; position: absolute; }
 	#prof_menu > li {display:inline-block; color: #ddd; height:30px; position:relative;}
 	#prof_menu > li > ul {position:absolute; top:33px; display:none;}
		#prof_menu > li > ul li {background-color: #333; width: 100px; left: -10px; text-align: center; border-top: 1px solid #555}
 	#prof_menu > li:hover > ul {display:block;}
	.warning {margin-top: 45px}
	.warning > .fleft > img, .help > .fleft > img {width: 60px; padding: 10px 5px 10px 0}
	.warning > .fleft span, .help > .fleft span{font-size: 20px; position: relative; top: 28px; padding: 15px 5px}
	
	
	
